{% include 'base.html' %}
{%load static %}
{% block content %}
<div class="container" height="100%" width="100%">
    <div class='jumbotron'>
        {% if message%}
        <div class="alert alert-info">
            <strong> Sorry :(</strong> Unfortunately, We have no data for this time period. Check back later :).
        </div>
        {% else %}

        {% autoescape off %}
        {{ graph_co }}
        {% endautoescape %}
        {% endif %}
    </div>

    <div class='jumbotron'>
        {% if message%}
        <div class="alert alert-info">
            <strong> Sorry :(</strong> Unfortunately, We have no data for this time period. Check back later :).
        </div>
        {% else %}
        {% autoescape off %}
        {{ graph}}
        {% endautoescape %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"
    integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- 
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>

<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script> -->

<script>

</script>
{% endblock %}